// Common
$white: #fff;
$black: #000;
$surface: #edf3f8;

$body-color: #f6f6f6;

// Primary Colors
$primary-color: #002d72;
$primary-color-dark: #001f4c;
$primary-color-light: #004d8e;

// Indicators colors
$success-color: #41c19f;
$warning-color: #ffc559;
$danger-color: #ef2b49;
