// Common
$white: #fff;
$black: #000;
$surface: #edf3f8;

$body-color: #f6f6f6;

// Primary Colors
$primary-color: #002d72;
$success-color: #41c19f;
$warning-color: #ffc559;
$danger-color: #ef2b49;

// light
$fade-primary-color: #8fa4bf;
$fade-success-color: #9fd6cc;
$fade-warning-color: #ffe6b7;
$fade-danger-color: #f7a3b1;
