// Common
$white: #fff;
$black: #000;
$surface: #edf3f8;

$body-color: #f6f6f6;

// Primary Colors
$primary-color: #36008d;
$success-color: #0cc9b8;
$warning-color: #fcd200;
$danger-color: #fe5e54;

// light
$fade-primary-color: #ddc8ff;
$fade-success-color: #d7fdf9;
$fade-warning-color: #fff8d5;
$fade-danger-color: #ffccc9;
