// Font Family
$font-family: 'Lato', sans-serif;

// Text Header Size
$text-header-size: 3rem;
$text-title-size: 1.5rem;
$text-subtitle-size: 1rem;

// Text Body Size
$text-body-size: 1rem;
$text-small-size: 0.875rem;
$text-caption-size: 0.75rem;

// Text Colors
$text-color: #282828;
$text-header-color: #0b1941;
$text-info-color: #53565a;
$text-value-color: #727272;

// Text Disabled Colors
$text-disabled-color: #e5e6e7;
$text-value-disabled-color: #c3c5c6;

// Typography Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
