@for $i from 0 through 5 {
  .mx-#{$i} {
    margin-left: #{$i}rem;
    margin-right: #{$i}rem;
  }

  .my-#{$i} {
    margin-top: #{$i}rem;
    margin-bottom: #{$i}rem;
  }

  .mt-#{$i} {
    margin-top: #{$i}rem;
  }

  .mb-#{$i} {
    margin-bottom: #{$i}rem;
  }

  .pa-#{$i} {
    padding: #{$i}rem;
  }

  .px-#{$i} {
    padding-left: #{$i}rem;
    padding-right: #{$i}rem;
  }

  .py-#{$i} {
    padding-top: #{$i}rem;
    padding-bottom: #{$i}rem;
  }
}

@each $value in left, center, right, justify {
  .text-#{$value} {
    text-align: $value;
  }
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: $font-weight-bold;
}

.bold-regular {
  font-weight: $font-weight-regular;
}

.bold-light {
  font-weight: $font-weight-light;
}

.w-100 {
  width: 100%;
}

.rounded {
  border-radius: $border-radius;
}

div.border {
  border: 1px solid;
  border-color: $border-color;

  &.bottom {
    margin: 0.5rem 0rem;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-color: $border-color;
  }
}

div.divider {
  border-top: 1px solid $border-color;
  margin: 2rem 0;
}

// FLEXBOX UTILITIES
.d-flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-grow {
  flex-grow: 1;
}

@each $value in flex-start, flex-end, center, baseline, stretch {
  .align-items-#{$value} {
    align-items: $value;
  }
}

@each $value in flex-start, flex-end, center, space-between, space-around {
  .justify-content-#{$value} {
    justify-content: $value;
  }
}

@for $i from 0 through 8 {
  .gap-#{$i} {
    gap: #{$i * 2}px;
  }
}
