@use 'sass:color';
@import 'partials/colors';
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/borders';

@import 'partials/utilities';

$primary-color-lighten: lighten($primary-color, 10%);
$primay-color-darken: darken($primary-color, 5%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $body-color;
  font-family: $font-family;
}

button {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
}
